vti_encoding:SR|utf8-nl
vti_author:SR|DESKTOP-AROB784\\K7B19
vti_modifiedby:SR|DESKTOP-AROB784\\K7B19
vti_timelastmodified:TR|17 Sep 2019 04:40:24 -0000
vti_timecreated:TR|17 Sep 2019 04:40:24 -0000
vti_cacheddtm:TX|17 Sep 2019 04:40:24 -0000
vti_filesize:IR|16798
vti_cachedlinkinfo:VX|Q|https://fonts.googleapis.com/css Q|https://fonts.googleapis.com/css S|../font/CommanderEdge.ttf S|../font/Coburn.otf S|../font/Kanisah.ttf S|../font/Copperplate\\ Gothic\\ Bold\\ Regular.ttf S|../font/CopperplateGothicBold.ttf S|../font/ABHINAYA/
vti_cachedsvcrellinks:VX|NQSS|https://fonts.googleapis.com/css NQSS|https://fonts.googleapis.com/css FSUS|font/CommanderEdge.ttf FSUS|font/Coburn.otf FSUS|font/Kanisah.ttf FSUS|font/Copperplate\\ Gothic\\ Bold\\ Regular.ttf FSUS|font/CopperplateGothicBold.ttf DSUS|font/ABHINAYA/
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|index\\ 2.html index.html gateindex.html
